<div class="container-com-menu">
  <!-- Menu lateral -->
  <aside class="menu-detalhes-empresa">
    <h3>🧾 Detalhes da Empresa</h3>
    <p>
      <strong>Nome :</strong><br />
 {{ capitalizarNome(contato?.contatoNome) }}

     
    </p>
     <p><strong>Email:</strong> {{ contato?.contatoEmail  }}</p>
      <p>
      <strong>Celular:</strong><br />
      {{ formatarContatoCelular(contato?.contatoCelular  || "") }}
    </p>
         <p>
      <strong>Celular:</strong><br />
      {{ formatarContatoTeleFone(contato?.contatoTelefone  || "") }}
    </p>
  
    <div class="acoes-empresa">
      <button class="btn editar" (click)="editarContato()">✏️ Editar</button>
      <button class="cadastrar" (click)="cadastrar()">➕ Cadastrar</button>
    </div>
  </aside>


</div>
