<h2>{{ editando ? 'Editar Contato' : 'Cadastrar Contato' }}</h2>

<form  #form="ngForm" (ngSubmit)="cadastrar()">
    <label>Nome do Contato:</label>
    <input type="text"
     [(ngModel)]="contato.contatoNome" name="contatoNome" required />
   <div *ngIf="form.submitted && !contato.contatoNome" class="erro">
    Nome é obrigatório.
  </div>
  
  <label>E-mail:</label>
  <input
    [(ngModel)]="contato.contatoEmail"
    name="email"
    placeholder="tests@test.com"
    required
    type="email"
  />
   <div *ngIf="form.submitted && !contato.contatoEmail" class="erro">
    Email é obrigatório.
  </div>

   <label>Celular:</label>
  <input
    [(ngModel)]="contato.contatoCelular"
    mask="(00)00000-0000"
    name="cep"
    (blur)="formatarContatoCelular(contato.contatoCelular)"
    placeholder="(00)00000-0000"
  />
  
   <label>Telefone:</label>
  <input
    [(ngModel)]="contato.contatoTelefone"
    mask="(00)00000-0000"
    name="cep"
    (blur)="formatarContatoTeleFone(contato.contatoTelefone)"
    placeholder="(00)00000-0000"
  />

  
    <button type="submit">Salvar</button>
  
    <button type="button" class="voltar" (click)="voltar()">🔙 Voltar</button>
</form>